*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    padding-left: 5%;
    font-weight:700;
}
#Nevber{
    color: black !important;
    margin: 5px 15px;
}
#Nevber:hover{
    padding: 5px;
    color: red !important;
    border-bottom:2px solid red;
}
#font{
    color: black;
    margin: 5px 10px;
    font-size: 25px;
}
#font:hover{
    padding: 5px;
    color: red !important;
    border-bottom:2px solid red;
    cursor: pointer;
}
.home{
    display: flex;
justify-content: center;
  align-items: center;
  background-image: url(images/imag.1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.home .texT{
    text-align: center;
    overflow: hidden;
}
.home .texT h1{
    font-size: 50px;
    font-weight: 700;
    color: black !important;
}
.home .texT p{
    font-size: 15px;
    color: black !important;
}
.home .texT button{
    background: black !important;
    border: 2px solid black;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    margin: 10px;
}
.store h1{
   color: black;
   text-align: center;
   margin: 15px;
   font-weight: bold;
}
.store h3{
    color: black;
   text-align: center;
   margin-bottom: 20px;
}
.product{
    color: black;
    margin: 15px 5px;
}
.proBtn{
    background: black !important;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 10px;
}
.proBtn:hover{
    background: transparent !important;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    letter-spacing: 2px;
}
.home .texT button:hover{
    background: transparent !important;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}
.heed{
    color: black;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
q{
    color: red;
}
    /* footer */
    .ipuut{
        margin: 5px;
        border: none;
        border-bottom : 2px solid black !important;
     }
     .bttn{
        background: black !important;
        border: 2px solid black;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        margin: 10px;
     }
     .anker{
        text-decoration: none;
        color: black !important;
        margin: 15px 5px;
     }
     .anker:hover{
        color: rgb(56, 190, 252) !important;
     }
     .font #face{
             color: rgb(67, 67, 249) !important;
        }
     .font #wats{
             color: rgb(30, 255, 0) !important;
        }
     .font #insta{
             color: rgb(233, 73, 105) !important;
        }
     .font #face:hover{
             color: black  !important;
             font-size: xx-large;
        }
     .font #wats:hover{
             color: black !important;
              font-size: xx-large;            
            }
     .font #insta:hover{
             color:  black  !important;
             font-size: xx-large;
        }


